@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f2f2f2;
  
}

.login {
  width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #666;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}
.btn-ini{
  background-color: #063aa1;
  padding: 5px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
body {
  background-color: #eee;
  font-family: sans-serif;
  margin: 0;
}
header {
  background-color: #063aa1;
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 50px;
  margin: 10px 10px;
}
nav a {
  font-weight: 600;
  padding-right: 10px;
}
.nombre-empresa {
  color: white;
}